@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@200;300;400;500&display=swap');

body {
    font-family: 'Roboto Mono', serif;
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    height: 100vh;
}

.header {
    margin-top: 2em;
    font-size: 2em;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* h2 {
    margin-bottom: 3em;
} */

img {
    width: 150px;
    height: auto;
    cursor: pointer;
}

.button-wrap {
    display: flex;
    gap: 5em;
    padding: 3em;
}

.result {
    text-align: center;
    height: 100px;
}

.scoreboard {
    height: 100px;
    width: auto;
    text-align: center;
}

.final-result {
    font-size: 2em;
    margin-top: 1em;
}

.footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.ref {
    justify-self: flex-end;
}

.repeat-btn {
    background-color: white;
    font-family: 'Roboto Mono', serif;
    padding: 0.7em 2em;
}



